body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(to top right,black, #0a1f32);
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.container {
    display: flex;
    justify-content: space-between; 
    padding: 0 20px; 
}


.logo {
    font-size: 24px;
    font-weight: bold;
}


nav {
    margin-left: auto; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ddd;
}

.gradient-background {
    height: 100vh; 
    width: 100%;
    background: linear-gradient(to right, black 50%, white 50%);
    display: flex;
    position: relative;
}

.video-container {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    width: 50%;
    max-width: 45%; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: left;
    padding: 20px;
    position: relative; 
    left: 2%; 
    bottom: 15%;
}

h1 {
    font-size: 3em;
    margin: 0 0 20px 0;
}

p {
    margin: 10px 0 0 0;
}


.learn-more-btn {
    position: absolute; 
    bottom: 30px; 
    
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color:#0a1f32;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-width: 5px;
    width: 150px; 
    text-align: center; 
}

.learn-more-btn:hover {
    background-color: deepskyblue;
}


.about {
    display: flex;
    padding: 50px;
    background: linear-gradient(to bottom right, black 30%, #0a1f32);
    color: white;
    overflow-y: auto;
}

.text-content {
    width: 60%;
    padding-right: 20px;
}

.image-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 150%;
    max-height: 250%;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: -50px;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .text-content,
    .image-container {
        width: 100%;
        padding: 0;
    }

    .image-container img {
        width: 80%;
        margin: 20px 0;
    }
}

.about h2 {
    color: #ffffff;
}

.about p {
    color: #ffffff;
    width: 90%;
    max-width: 85%;
}

.ab {
    display: flex;
    padding: 50px;
    background: linear-gradient(to top right, black 30%, #0a1f32);
    color: white;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.card {
    width: calc(25% - 20px);
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.photo-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-content {
    height: 200px;
    padding: 15px;
    box-sizing: border-box;
}

.card-content h2 {
    margin-top: 0;
    font-size: 20px;
}

.card-content p {
    margin-bottom: 0;
    font-size: 15px;
}

.ab h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

footer {
    background: #0a1f32;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container p {
    margin: 5px 0;
}

.footer-container a {
    color: #fff;
    text-decoration: underline;
}

.footer-container a:hover {
    color: #ddd;
}

.pdf-link {
    color: deepskyblue;
    text-decoration: none;
    font-weight: bold;
}

.pdf-link:hover {
    color: lightblue;
}


